2-linespacing-0.png filter=lfs diff=lfs merge=lfs -text
2-one_series_per_pstart-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_mwe-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_inside-outside-columns-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-10.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-4.png filter=lfs diff=lfs merge=lfs -text
2-titles_in_line_numbering_with_notes-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-7.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_paragraph_separator_between-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_titles_not_in_line_numbering-0.png filter=lfs diff=lfs merge=lfs -text
2-indexing-0.png filter=lfs diff=lfs merge=lfs -text
2-notes-width-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-6.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-6.png filter=lfs diff=lfs merge=lfs -text
2-footnote_spacing-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-10.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-1.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-6.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-5.png filter=lfs diff=lfs merge=lfs -text
1-tabular-0.png filter=lfs diff=lfs merge=lfs -text
2-line_numbers_in_header-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-6.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-11.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-12.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_verse_text_between-1.png filter=lfs diff=lfs merge=lfs -text
1-verses.png filter=lfs diff=lfs merge=lfs -text
2-one_series_per_pstart-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-9.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_inside-outside-columns-2.png filter=lfs diff=lfs merge=lfs -text
2-notes-width-1.png filter=lfs diff=lfs merge=lfs -text
2-titles_in_line_numbering_with_notes-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-8.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-5.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_notes_leftpage-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_mwe-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-6.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_titles_not_in_line_numbering-1.png filter=lfs diff=lfs merge=lfs -text
1-sidenotes-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-8.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-0.png filter=lfs diff=lfs merge=lfs -text
2-indexing-1.png filter=lfs diff=lfs merge=lfs -text
2-reledmac-right-to-left.png filter=lfs diff=lfs merge=lfs -text
2-titles_in_line_numbering_with_notes-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-6.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-continuous-numbering-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_inside-outside-columns-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-7.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-5.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-9.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_notes_leftpage-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_titles_not_in_line_numbering-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_titles_not_in_line_numbering-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-6.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-8.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-5.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-5.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-13.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_notes_leftpage-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_pages_different_languages_lualatex-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-8.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-7.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-8.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_verse_text_between-2.png filter=lfs diff=lfs merge=lfs -text
2-line_numbers_in_header-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_titles_not_in_line_numbering-3.png filter=lfs diff=lfs merge=lfs -text
1-sidenotes-1.png filter=lfs diff=lfs merge=lfs -text
2-notes-width-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_columns_different_languages.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_inside-outside-columns-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_verse_text_between-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-8.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-continuous-numbering-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_notes_leftpage-2.png filter=lfs diff=lfs merge=lfs -text
2-footnote_spacing-0.png filter=lfs diff=lfs merge=lfs -text
2-line_numbers_in_header-0.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-8.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-9.png filter=lfs diff=lfs merge=lfs -text
2-glossaries.png filter=lfs diff=lfs merge=lfs -text
2-titles_in_line_numbering_with_notes-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_alignment.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_paragraph_separator_between-2.png filter=lfs diff=lfs merge=lfs -text
2-cross_referencing.png filter=lfs diff=lfs merge=lfs -text
2-linespacing-2.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-0.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-1.png filter=lfs diff=lfs merge=lfs -text
2-one_series_per_pstart-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-shifted-5.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-8.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_paragraph_separator_between-1.png filter=lfs diff=lfs merge=lfs -text
2-one_series_per_pstart-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_mwe-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_inside-outside-columns-4.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-3.png filter=lfs diff=lfs merge=lfs -text
1-criticalnotes.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_pages_different_languages_lualatex-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-8.png filter=lfs diff=lfs merge=lfs -text
1-tabular-1.png filter=lfs diff=lfs merge=lfs -text
2-lemma_disambigution.png filter=lfs diff=lfs merge=lfs -text
2-performances.png filter=lfs diff=lfs merge=lfs -text
2-titles_in_line_numbering_with_notes-4.png filter=lfs diff=lfs merge=lfs -text
2-titles_not_in_line_numbering.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_same_page_number_in_both_side-6.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-3.png filter=lfs diff=lfs merge=lfs -text
2-linespacing-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_pages_different_languages_lualatex-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_notes_leftpage-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-10.png filter=lfs diff=lfs merge=lfs -text
2-line_numbers_in_header-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-1.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-7.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-continuous-numbering-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_columns_titles_in_line_numbering_with_notes-0.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-12.png filter=lfs diff=lfs merge=lfs -text
1-sidenotes-2.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-nomax-4.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_default-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_one_series_per_pstart-6.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-5.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_advancedshifted-6.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nomax-8.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-2.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_column_mix_with_not_column-3.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_titles_in_line_numbering_with_notes-11.png filter=lfs diff=lfs merge=lfs -text
2-manuscript-apparatus-3.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_nosync-0.png filter=lfs diff=lfs merge=lfs -text
3-reledpar_sync_setting_shifted-1.png filter=lfs diff=lfs merge=lfs -text
4-reledpar_pages_long_notes-6.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
