build
examples/export
*.hd
*.xdv
*.fls
*.pdf
*.log
*.lo?
*.i??
*.aux
*.out
*.toc
*.gz
*.?end
*.xdy
*.mw
*.eledsec1*
*.eledsec2*
*.eledsec3*
*.eledsec4*
*.eledsec5*
*.eledsec6*
*.eledsec7*
*.eledsec8*
*.eledsec9*
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*
*.glg
*.sty
*.gls
*.glo
*.fdb_latexmk
*.synctex
README
reledmac/
