*.pdf
*.log
*.lo?
*.i??
*.aux
*.out
*.toc
*.gz
*.end
*.s1*
*.s2*
*.s3*
*.s4*
*.s5*
*.s6*
*.s7*
*.s8*
*.s9*
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*
*.sty
*.gls
*.glo
*.fdb_latexmk
*.synctex
README
eledmac/